[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rajeshi
[access "refs/for/refs/*"]
	read = group user/rajeshi
	push = group user/rajeshi
	label-Code-Review = -2..+2 group user/rajeshi
	label-Verified = -1..+1 group user/rajeshi
	rebase = group user/rajeshi
	removeReviewer = group user/rajeshi
	submit = group user/rajeshi
[access "refs/heads/*"]
	read = group user/rajeshi
	create = group user/rajeshi
	push = +force group user/rajeshi
	pushMerge = group user/rajeshi
[access "refs/tags/*"]
	push = +force group user/rajeshi
	pushTag = group user/rajeshi
	pushSignedTag = group user/rajeshi
